# Основной фреймворк бота
python-telegram-bot[webhooks]==22.1

# Работа с почтой
imap-tools==1.11.0

# Планировщик задач
apscheduler==3.11.0

# Анализ данных и Excel
pandas==2.3.2
openpyxl==3.1.5

# База данных (PostgreSQL)
# psycopg2-binary не нужен, так как alembic и asyncpg покрывают все потребности
sqlalchemy[asyncpg]==2.0.43 
alembic==1.16.5

# HTTP-запросы (уже включен в python-telegram-bot, но лучше указать явно)
requests==2.32.5

# Переменные окружения
python-dotenv==1.1.1

# Линтер и форматер кода (ruff)
# Это современный инструмент, который проверяет ваш код на ошибки и автоматически форматирует его по единому стандарту. Это сильно повышает читаемость и помогает отлавливать баги на ранней стадии. Устанавливается так:
pip install ruff

# ASGI-сервер (uvicorn)
# Вы устанавливаете python-telegram-bot с дополнением [webhooks], но сейчас используете режим polling. Если в будущем вы решите переключить бота на вебхуки (что рекомендуется для продакшена), вам понадобится ASGI-сервер, например uvicorn, для запуска приложения.
# Устанавливается так:
pip install uvicorn

overpass==0.7.1
geopy
